# Stellar Client Environment Variables
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME='Fundable Stellar'
NEXT_PUBLIC_APP_DESCRIPTION='Stellar client for Fundable Protocol'

# Backend API
NEXT_PUBLIC_API_URL=

# Stellar Network Configuration
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_RPC_URL=
NEXT_PUBLIC_STELLAR_HORIZON_URL=
